<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<title></title>
	<!-- the following comment (and more) is grunt-processhtml. it's an instruction for parser.
	+ info, see https://www.npmjs.com/package/grunt-processhtml -->
	<!-- build:[href] /booking/ -->
	<base href="/" />
	<!-- /build -->

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- the following comments are also instructions for parser. 
	- grunt-usemin.	+ info, see https://www.npmjs.com/package/grunt-usemin 
	- wiredep.	+ info, see https://www.npmjs.com/package/wiredep. 
	see also: http://stephenplusplus.github.io/grunt-wiredep/ -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="bower_components/famfamfam-flags-sprite/src/flags-sprite.min.css" />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

</head>

<body ng-app="ycBookingApp" ng-controller="TabCtrl" style="padding-top: 70px;">
	<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

				<a ng-if="$location.host().indexOf('ezservices') === -1" class="navbar-brand" href="#"> Yoochoose GmbH </a>
				<a ng-if="$location.host().indexOf('ezservices') !== -1" class="navbar-brand" href="#">
					<img src="images/logo-ez.svg" height="50px" class="image-logo-ez">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" collapse="navbarCollapsed">
				<ul class="nav navbar-nav" ng-hide="$state.current.name=='finished'">
					<li ng-repeat="tab in tabs" active="tab.active" ui-sref-active="active">
						<!--<a ui-sref="{{tab.id}}" >-->
						<a ui-sref="{{tab.id}}">
							<i class="fa fa-{{tab.icon}}"></i> {{tab.id+'_title' | translate}}
						</a>
					</li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" ng-controller="LanguageCtrl">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag-o"></i></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="lang in languages"><a ng-click="changeLanguage(lang.code)"><span class="flag-icon reset {{lang.flag}}" style="vertical-align: baseline;"  ></span> {{'lang_'+lang.code | translate}}</a>
							</li>
						</ul>
					</li>
				</ul>


			</div>
		</div>
	</nav>
	<div ui-view></div>
	<div class="container">
		<hr />
		<footer ng-if="$location.host().indexOf('ezservices') === -1">
			<span> &copy; Yoochoose GmbH 2017 </span>
		</footer>
	</div>
    <footer id="footer" ng-if="$location.host().indexOf('ezservices') !== -1">
        <div class="footer-content">
            <div class="ez-container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/logo-ez-footer.png" alt="eZ Systems" class="logo">

                        <div class="ezxmltext-field"><ul>
                                <li><a href="//ez.no/About-eZ/Contact-Us" target="_self">Contact us</a></li>
                                <li><a href="//ez.no/About-eZ/Company-Overview" target="_self">About eZ</a></li>
                                <li><a href="//ez.no/About-eZ/Careers" target="_self">Careers</a></li>
                                <li><a href="//ez.no/Brand" target="_self">Brand</a></li>
                                <li><a href="//ez.no/About-our-Software" target="_self">About our software</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-4 text-center">
                        <h4>Receive information from eZ</h4>

                        <div class="subscribe-form">
                            <form accept-charset="utf-8" name="f32e608a-4512-4031-b573-4c61216d7126" class="maForm subscribe-form" method="POST" action="https://marketing-automation.ez.no/data/public/IncomingForm/Ma/submit">
                                <div class="maFormElement input-group">
                                    <input type="text" name="email_address" class="form-control formText formEmail formRequired" value="" placeholder="Your Email Address">
                                    <span class="input-group-btn">
                                        <button name="submit" class="formSubmit btn" value="submit" type="submit">SUBSCRIBE</button>
                                    </span>
                                </div>
                                <input type="hidden" name="form_id" value="f32e608a-4512-4031-b573-4c61216d7126">
                                <input type="hidden" name="form_access_id" value="">
                                <input type="hidden" name="__mauuid" value="">
                            </form>
                        </div>

                    </div>
                    <div class="col-md-4 text-center footer-social">
                        <h4>Follow us on social media</h4>

                        <p>
                        <a href="//www.youtube.com/user/ezpublish/" target="_blank"><i class="fa fa-youtube fa"> </i></a>
                        <a href="//google.com/+ezsystems" target="_blank"><i class="fa fa-google-plus fa"> </i></a>
                        <a href="//www.linkedin.com/company/16738" target="_blank"><i class="fa fa-linkedin fa"> </i></a>
                        <a href="//www.facebook.com/eZPublishEnterprise" target="_blank"><i class="fa fa-facebook fa"> </i></a>
                        <a href="//twitter.com/#!/ezsystems" target="_blank"><i class="fa fa-twitter fa"> </i></a>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="locations">
                            <li> <span><i class="fa fa-map-marker"></i>Cologne</span></li><li> <span><i class="fa fa-map-marker"></i>Katowice</span></li><li> <span><i class="fa fa-map-marker"></i>Lyon</span></li><li> <span><i class="fa fa-map-marker"></i>New York</span></li><li> <span><i class="fa fa-map-marker"></i>Oslo</span></li><li> <span><i class="fa fa-map-marker"></i>Paris</span></li><li> <span><i class="fa fa-map-marker"></i>Porsgrunn</span></li><li> <span><i class="fa fa-map-marker"></i>Tokyo</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-content">
            <div class="ez-container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="ezxmltext-field"><p>Copyright © 2016 eZ Systems AS (except where otherwise noted). All rights reserved. <a href="//ez.no/Privacy-policy" target="_self">Privacy policy</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
	</footer>

	<!-- build:js(.) scripts/oldieshim.js -->
	<!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
	<!-- endbuild -->

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/json3/lib/json3.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-card-input/angular_card_input.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/angular-moment/angular-moment.js"></script>
	<script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
	<script src="bower_components/jstzdetect/jstz.min.js"></script>
	<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/checkout.js"></script>
	<script src="scripts/controllers/billing.js"></script>
	<script src="scripts/controllers/account.js"></script>
	<script src="scripts/controllers/booking.js"></script>
	<script src="scripts/controllers/tab.js"></script>
	<script src="scripts/services/tab.js"></script>
	<script src="scripts/controllers/init.js"></script>
	<script src="scripts/directives/match.js"></script>
	<script src="scripts/locale/de.js"></script>
	<script src="scripts/locale/en.js"></script>
	<script src="scripts/controllers/language.js"></script>
	<script src="scripts/directives/nextbutton.js"></script>
	<script src="scripts/controllers/finished.js"></script>
	<script src="scripts/services/ycrestfrontend.js"></script>
	<script src="scripts/directives/autofocus.js"></script>
	<script src="scripts/directives/error.js"></script>
	<script src="scripts/config/config.js"></script>
	<!-- endbuild -->

	<!-- build:[src]:dist https://itero.pactas.com/selfService/ -->
	<script type="text/javascript" src="https://sandbox.pactas.com/selfService/iterojs"></script>
	<!-- /build -->
	<!-- build:remove -->
	<script type="text/javascript">
        document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
    </script>
	<!-- endbuild -->

	<!-- this script is here and not in head because it will not be written in the dist/index.html -->
	<script type="text/javascript">
       //when in eZ site, load eZ css; else load Yoochoose css 
       var stylesheetToInclude = 
           window.location.hostname.indexOf('ezservices') === -1 ?
               '<link rel="stylesheet" href="styles/bootstrap.css" type="text/css">' :  
               '<link rel="stylesheet" href="styles/bootstrap_ez.css" type="text/css">';
       document.write( stylesheetToInclude );
    </script>

	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://statistic.yoochoose.net/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 10]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript>
		<p><img src="//statistic.yoochoose.net/piwik.php?idsite=10" style="border:0;" alt="" /></p>
	</noscript>
	<!-- End Piwik Code -->

</body>

</html>
